<table>
	<thead>

		<tr>
			<td>User</td>
			<td>Subject</td>
		</tr>
		<tr>


	</thead>
	<tbody>
<% @conversations.each do |conversation| %>
 	<tr>
 	<% conversation.messages.each do |message| %>
	  <td><%= message.sender.first_name %>, <%= message %></td>
	  <td><%= link_to "View", conversation_path(conversation) %></td>	
	  <% end %>
	</tr>
	<tr>
		<td> <b> key </b> </td>
		<% @key.each do |f| %>
		<%= f %>
		<% end %>
	</tr>

  <% end %>
  

</tbody>
</table>