<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your tutorial request has been created, <%= @user.name %></h1>
    <p>
      You will shortly receive tutorial proposals from our finest tutors.
      <br>
    </p>
    <p>Have a great day!</p>
  </body>
</html>