<h2>How it works</h2>

<p>Young Tutors is a platform to promote affordable quality learning where tutors 
can upload their profiles to find students, not an agent.</p>

Search for Tutors -> Contact Tutors -> Request a Tutor -> Tuition

<div class="row">
	<div class="col-md-6">
		<h4>Search for tutors</h4> 
		<p>What is the subject that you would like to be tutored in?</p> 
	</div>
	<div class="col-md-6">
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<h4>Contact Tutors</h4>
		<p>Found the tutor(s) you like? Message the tutor(s) to discuss your needs, dates you are hoping to have tuition and ask any questions you have! Tutors will state their availabilities within 24 hours of your enquiry.</p> 
	</div>
	<div class="col-md-6">
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<h4>Request a Tutor</h4>
		<p>Happy and set with a tutor? Your tutor is available for your desired tuition dates? Make tutorial request and arrange your first lesson either in person or online!</p>
	</div>
	<div class="col-md-6">
	</div>
</div>


