<h2>How it works</h2>

<p>Young Tutors is a platform to promote affordable quality learning where tutors 
can upload their profiles to find students, not an agent.

</br></br>
1.  Search for tutors (what is the subject that you would like to be tutored in?)
</br></br>
2.  Arrange a tutorial by contacting Young Tutors (<a href="/contact">contact us</a> for any enquires)
</br></br>
3.  Tutorial (either meet the tutor in-home or online)
</br></br>
4.  Payment (direct payment to tutors)
</p>