<ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Messages</a></li>
</ul>


<p><span class="txt_style_1">Oxford, Biochemistry</span>
</br>
As a volunteer worker waiting standby in the hematology and oncology department, I saw kids younger than me with no hair 
because they had cancer. This was in a recent work experience at the Korean Cancer Center Hospital in Seoul. There, I 
realized that these young cancer patients could not live the same healthy life as most other kids. This has reinforced 
an aspiration to research cures for diseases as a biochemist, which originated as a result of a personal experience of 
being a patient at a hospital and meeting many patients with different conditions.
</br></br>
To research cures for diseases, I would need to know how the body functions and, therefore, this is what I am interested 
in studying. I think that learning about chemical reactions within cells that cause the cell, tissue, organ and organ 
system to function is more satisfactory than learning about the anatomy or physiology which have limits in biomedical 
research. One area of interest is stem cell research for its therapeutic potential in repairing damaged parts of body 
by growing new healthy tissues and organs. I believe that the key to clinically using stem cells lies in identifying 
how genes become inactivated when a stem cell specializes, as the current stem cell research looks at ways of differentiating 
embryonic stem cells into specifically specialized cells. I tried to read \'Cloning and Stem Cells\' journal from December 2008. 
Although the journal was difficult to understand, it gave me a flavor of the progress made in this area of research. Learning 
the mechanism of immune response from the \'The chemistry of life\' by Steven Rose was enlightening. In particular, deletion of 
immature T cells capable of recognizing \'self\' peptidE in the thymus in order to maintain \'self-tolerance\', and the failure 
to do so resulting in autoimmune diseases have been something new that I would like study in more depth. In addition, I read 
\'Power, Sex, Suicide\' by Nick Lane and could learn about the mitochondrial evolution and more about respiration. In particular, 
the mitochondrial theory of ageing, its role in the programmed cell death, \'apoptosis\', and how the failure of this program 
leads to cancer were thought provoking so that I would like to study more about such roles of the mitochondria.

I was selected to take part in the British Biology Olympiad 2009 in my L6th year in which I
was \'Highly Commended\'. In preparation for this, I read ahead in Biology using several
different text books and had to cover the majority of the Olympiad syllabus in my free time.
The amount of reading and learning was the biggest challenge. It was my determination to
achieve a medal that kept me reading the pages. I hope that my determined quality will help 
in going through the hard work that the Biochemistry course entails. My strongest subject is
chemistry and I received the chemistry prize of the year for lower sixth. Also, I scored the
best in the school for the senior UK Maths Challenge 2008.
</br></br>
Outside class, I have participated in various extra-curricular activities such as playing percussions in the college 
orchestra, performing a play (Pinter Short) and a musical (Chorus Line). The Duke of Edinburgh (bronze and silver) 
was a challenge that tested my determination at times of tiredness. Also, as the vice-chairman of Science Committee, 
I helped promote Science for both staff and students at Wellington and, recently, I organized a sustainable design 
challenge. I am the deputy head of my boarding house. Sports wise, I am a member of my school U18 basketball team. 
With these determined, organized and intellectual qualities, I believe myself to be an excellent candidate for the 
Biochemistry course.</p>


<p><span class="txt_style_1">Oxford, PPE</span>
</br>
My decision to study PPE was confirmed during research for my EPQ, from which I learnt
a lesson of crucial importance: the full understanding of any issue in society requires a 
multidisciplinary approach, one which combines the three disciplines of philosophy, politics 
and economics. The aim of my project was to ascertain the precise extent to which President 
Park Chung-hee was responsible for the ‘Miracle on the Han River’, the rapid economic 
development and industrialisation of my own country, South Korea, after the Korean War. 
Combining politics and economics was particularly relevant because the entirety of Park’s 
authoritarian rule revolved around one objective: economic growth. Indeed, weighing the 
explanations of liberal economists, such as Krugman’s ‘The Myth of Asia’s Miracle’, 
against those of the statists, such as Kim Hyung-A’s ‘Korea’s Development Under Park 
Chung-hee’, I concluded that Park’s state intervention had played a key role in facilitating 
the ‘Miracle’. This, naturally, raised difficult philosophical questions; can such economic 
growth justify the suspension of political freedoms and rights? I believe it can, under adapted 
Hobbesian principles. I also saw how the public consensus on Park was being constantly 
remoulded by contemporary political contexts, radically so following tumultuous events such 
as Korea’s democratisation in 1987 and the 1997 Asian Financial Crisis, inspiring me to write 
a competition essay on the historiography of Park. This experience of searching for evidence, 
from multiple libraries, the internet, and across two languages, was one which I thoroughly 
and most truly enjoyed.
</br></br>
The most interesting work I chanced upon during the EPQ was ‘Bad Samaritans’ by Chang 
Ha-joon, which argued that the path to development lay in pragmatic state capitalism and 
selective protectionism, contrary to the Washington Consensus. I found this to be well-
evidenced and in agreement with my own understanding of Korea’s developmental history, 
and I have begun questioning several aspects of neoliberal economics in my A2 Economics 
syllabus, especially regarding free trade and development. I also question the inherent bias in 
the syllabus for low inflation through contractionary fiscal and monetary policies, which may 
be an unfavourable trade-off – something which I believe applies to Osborne’s austerity cuts, 
as the costs of slow growth and unemployment will likely outweigh the benefits.
</br></br>
The subject of nations and nationalism is one of great interest to me, a scholarly passion 
which began in my History A-level, where nationalism’s role in creating the mass citizen 
armies of the French Revolution fascinated me (something especially relevant to me with 
Korea’s compulsory military service). This led me to begin reading into the phenomenon 
of nationalism itself, from origins and definitions, but especially regarding its ‘morality’. 
From Michael Sandel’s ‘Justice’, I learnt that the subjection of ethics to rigorous critical 
examination was essential, for political decisions could not be based solely on considerations 
of utility. However, I found his justification of patriotism unsatisfactory, especially since 
based on elusive non-voluntary obligations. Thus, I began reading several other works on the 
ethics of nationalism, most convincing of which I found to be Thomas Hurka’s ‘Justification 
for National Partiality’. This additional reading on nations and nationalism has also led to 
greater appreciation of my A2 Anglo-Irish History module, as it allows me to challenge 
numerous aspects of the nationalist interpretations of Irish history.
</br></br>
Beyond my academic work, I have several leadership roles. I am a Prefect and a Mentor, and 
Deputy Head of the boarding house. I am also a licensed paraglider and enjoy playing rugby.
</br></br>
I greatly look forward to the opportunity of truly engaging and pushing my intellectual 
boundaries at a university of academic excellence amidst like-minded peers and tutors.	
</p>

<p><span class="txt_style_1">Oxford, History & Economics</span>
</br>	
This summer I was selected to attend a two-week programme at Yale University, based on a
graduate course called Grand Strategy. It combined the study of Economics, History, and Philosophy 
to inspire examination of society from a wide variety of perspectives. I had always been intrigued by 
the relationship between statecraft and historical events ever since reading 'The Rise and fall of the 
Great Powers' by Paul Kennedy. In his analysis of how global hegemonies wax and wane, Kennedy 
highlights that the art of statecraft requires understanding of not only economics and history but 
also their interaction. Presenting my own arguments and being cross-examined at length by eminent 
scholars such as Paul Kennedy, John Lewis Gaddis and John Negroponte served only to deepen my 
interest in History and Economics.
</br></br>
History appeals to me because it is a study as much of the present as it is of the past. I took the 
medieval history course for A-level because I found charm in studying a period so distant and 
different from the present. I soon realised, however, that there were many more parallels between 
the two. For instance, in Charlemagne's efforts to unify Europe, I saw the seed of the European 
Union. Similarly, when I read Sun Tzu's 'Art of War' and Clausewitz's 'On War', I found that they were 
not mere military manuals but valuable historical sources for understanding Eastern and Western 
philosophy on leadership. Christopher Bassford, in his paper, 'Clausewitz and His Works', written 
</br></br>
for the Army War college, contends that any modern interpretation of Clausewitz or Sun Tzu is a 
distortion of the original text. However, I believe historians' constant revision of sources is not a 
distortion but precisely what makes history so compelling.
</br></br>
If History A-level has taught me sensitivity to context, Economics and Mathematics A-levels have 
helped me develop the ability to derive abstract theories to arrive at logical solutions. Deciphering 
a mathematical problem that seems impenetrable at first sight or comprehending a complex 
economic theory brings me immense satisfaction and intellectual pleasure. With the tools that I 
learnt through the A-level course, I was able to study a wide range of historical examples and justify 
the logic behind financial institutions' efforts to overcome economic crises. In my independent 
research this summer for the Keynes Prize in Economics, I analysed the appropriateness of 
state funding of the BBC through both historical and economic lenses. I studied theories about 
privatisation and assessed whether they are applicable in the modern broadcasting era. I came to 
the view that the BBC holds a critical societal role to provide cultural enrichment and to mitigate 
biased media, eliminating the case for its privatisation.
</br></br>
Although I am a keen academic, winning the subject prize in Medieval History at school and a prize 
for my Marshall Plan on the grand strategy of the Korean peninsula in the summer programme, I 
have participated in a range of extra-curricular activities. My commitment to the Debating Society 
and Model United Nations conferences around the country has enabled me to form my own ideas 
about current global issues. On the other hand, the Entrepreneurship Society, where I attended 
numerous lectures given by world-renowned entrepreneurs, has helped me see how these experts' 
views on the current financial world differed from my own.
</br></br>
I am assured that my intellectual curiosity, which I have developed through profound reading
and research, will guide me through the challenges posed by a university degree. Although my
capability shall be tested to its limit, it is a challenge I look forward to with relish.
</p>

<p><span class="txt_style_1">Oxford, Classics</span>
</br>	
Before I set my mind on studying Classics, I used to think that my purpose in life was to
become a successful businessman. And so, with that in mind, my original intention was 
to study Economics at university. However, while studying ancient Greek for A-level, I 
was inspired by Homer’s exceptionally skilful treatment of human affairs in the ‘Iliad’, a 
book, which so fired my imagination about the vastly enlightening Classical world, that I 
changed my mind. This decision was in itself a Renaissance for me. I was able to escape 
the absolutist self in me in the same way that the Enlightenment philosophers moved 
away from theology in order to bring back the culture of Hellenism. Now, I would like 
to extend my knowledge in Classics by studying its timeless literature and philosophy 
and by evaluating ancient sources, which will help to examine the roots of contemporary 
culture. 
</br></br>	
I have heard of the culture of 5th century Athens described as the first ‘knowledge 
explosion’. For me, the prospect of academically participating in the immense 
achievements of the Greeks holds great excitement. My curiosities particularly lie 
in ancient philosophy. Socrates is the figure that I admire the most because of his 
genuine attitude towards philosophy and ethics. I think it is sufficiently explained in 
the ‘Apology’ how much he loves knowledge for its sake and similarly how much he 
values the concept of “γνωθι σεαυτον”. I am also fascinated by Plato’s metaphysics 
and epistemology in his ‘Republic’ because it is extremely sophisticated and is certainly 
one of the finest answers to Thales’ question of the ultimate substance. Furthermore, 
Aristotle’s account of the virtues in the ‘Nichomachean Ethics’, I believe, is a brilliant 
one. He addresses the human telos of happiness directly and the issues of morality, 
pleasure and friendship are dealt with in an appropriate way. It has been a key text in 
my life personally and it is not surprising to me that modern philosophers have started a 
revival of virtue ethics. 
</br></br>	
The Greek language interests me too. Unlike English or Korean both of which I speak 
and write fluently, I find ancient Greek so subtle and articulate. There are idioms and 
grammatical usages that I fully adore because of their uniqueness. For example, the use 
of the middle intrigues me because of its variety and irregularity. Unsurprisingly, I really 
enjoy working on Greek grammar and syntax. Also, I have this term started the Latin AS 
level and look forward to relishing the challenges that Latin has to offer, especially in 
terms of the Latin language. 
</br></br>	
On the personal side, I am motivated, scholarly and ambitious. I am an all-round scholar 
and a prefect at my school and last year received the Classics prize. I think the reason 
why I am thriving academically is because of my serious attitude towards work and my 
zeal for self-realisation. Outside of academic study, I am an enthusiastic sportsman and 
I have represented the school 1st team in both rugby and hockey. Meanwhile playing
bridge and chess has helped me to sharpen my mind. 
</br></br>	
Finally, with the end of my school career rapidly approaching, I am very much looking 
forward to seizing the opportunity to study a subject that genuinely fascinates me and 
becoming a more rounded human being at university as I believe that I have much 
potential to flourish in the years to come.



 