@import "bootstrap";

body { 
	background-color: #FFFFFF;
	color: #333333;
	font-family: Arial, Helvectica, sans-serif;
	font-size: 14px
	h2 {
		font-size: 16px;
		color: #3b5998;
	}
}


/*************************login or signup form********************/
.my-login-form{
    padding: 30px 20px;
    border:1px solid #eeeeee;
}
.form-btm-link a{
    color:#0FAF97;
}
.form-btm-link a:hover{
    text-decoration: underline; 
}
.form-btm-link span{
    margin:0px 20px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 23px;
}



.centre {
	text-align: center;
}


.col-md-6 {
	h3 {font-size: 45px;}
	h5 {font-size: 25px;}
	p {
		font-size: 12px;
		font-family: Helvetica;
		line-heigh: 20px;
	}
}


.col-md-8 {
	p {
		font-size: 12px;
		font-family: Helvetica;
		line-heigh: 20px;
		
		}
	
	h3 {
		font-size: 25px;
		color: #3b5998;
		}
}




