// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*============ static pages =============*/

.col-md-6 .style1 {
    width: 200px;

}

.col-md-6 {
	h2 {font-size: 45px;
		font-family: lato;}
	h5 {font-size: 25px;
		font-family: lato;}
	p {
		font-size: 17px;
		font-family: Lato;
		line-heigh: 20px;
	}
}

