// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*============ static pages =============*/

.col-md-6 .style1 {
    width: 200px;

}

.space-70{
    width:100%;
    height: 50px;
    clear: both; 
    }