// Place all the styles related to the Tutors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*============ tutor profile =============*/

.row .tutor info {
    background-color: #ffc272;
}


/*============ tutor profile =============*/

.tutor info {
    background-color: #ffc272;
}


.txt_style_1 {
	color: #3b5998;
	font-weight: bold;
}

.jumbotron {
	background-image: url('https://dl.dropboxusercontent.com/s/d0tw1cifkgyjw4x/jumbotron.jpg'); 
	h1, h2 {
	font-family: guardian-egyptt, georgia, serif;
	}
}

.col-md-2 img {
  width: 100%;

}

.row { margin-top: 0px; }

.col-md-10 h3 { 
	margin-top: 0px; 
	}


