// Place all the styles related to the Tutors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*============ tutor profile =============*/

.row .tutor info {
    background-color: #ffc272;
}


.col-md-2 img {
  width: 100%;

}

.col-md-10 h3 { 
	margin-top: 0px; 
	}

.centre {
	text-align: center;
}

.jumbotron tutor {
	color: #FFCC66;
}
