<div style="display : inline-block; width : 32%; text-align : left; vertical-align : middle;">
			<span style="font-size : 11pt; margin-bottom : 10px; display : inline-block;">Contact Us</span><br />
			<span>Phone: 01223-461-822</span><br />
			<span>Email: info@eliteapplication.com</span>
<div style="display : inline-block; width : 32%; text-align : right; vertical-align : middle">
Young Tutors
<div style="display : inline-block; width : 32%; text-align : right; vertical-align : middle">

<p>Copyright 2013 Young Tutors All Rights Reserved</p>