

<div class="row">
	<div class="col-md-4">
		<p>Phone: 07501 025510<br>
		Email: harrylee1230@gmail.com</p>
	</div>
	<div class="col-md-4">
		<p>Young Tutors</p>
	</div>
	<div class="col-md-4">
		<p>Copyright 2013 Young Tutors All Rights Reserved</p>
	</div>
