<div id="footer">
<div class="tail" style="color : #AAA; font-size : 9pt; padding : 50px; vertical-align : middle;">
	<div style="display : inline-block; width : 32%; text-align : left; vertical-align : middle;">
		<div style="display : inline-block;">
			<span style="font-size : 12pt; margin-bottom : 10px; font-family: estrangelo edessa; display : inline-block;">Email: harrylee1230@gmail.com</span>
		</div>
	</div>
	<div style="display: inline-block; width : 33%; text-align : center; vertical-align : middle;">
		<span style="font-size : 16pt; margin-bottom : 10px; font-family : estrangelo edessa; display : inline-block;">
			<b>Young</b> Tutors</span>
	</div>
	<div style="display : inline-block; width : 32%; text-align : right; vertical-align : middle">
		<span style="font-size : 10pt; margin-bottom : 10px; font-family: estrangelo edessa; display : inline-block;">
			Copyright  © Young Tutors All Rights Reserved</span>
		</div>
	</div>
</div>